<% content_for(:title, "Mario's Foods") %>

<div class="about">
  <h3>|About Mario's Foods|</h3>
    <p>Mario's has been offering consumers with high-quality food at reasonable pricing since 2000. We place a high value on customer happiness. That is why we have made it simple to write a product review and have posted all of them on our website. Share your experience.</p><br><br><hr>

  <div class="wrapper">
    <a href="?sort=recent"><button class="btn btn-default">Recently added</button></a>
    <a href="?sort=most_reviews"><button class="btn btn-default">Most Reviews</button></a>
    <a href="?sort=usa"><button class="btn btn-default">Made in USA</button></a>
    <button class="btn btn-default"><%= link_to "All Products", products_path %></button>
  </div>

  <hr>
  <br>
  <h1>Products</h1>
  <ul>
    <% @products.each do |product| %>
      <li><%= link_to product.name, product_path(product) %></li>
    <% end %>
  </ul>
</div>
<hr>

<div class="row">
  <div class="column">
    <%= image_tag "banana.jpeg" %>
    <%= image_tag "baskets.jpeg" %>
    <%= image_tag "blueberries.jpeg" %>
    <%= image_tag "bokchoy.jpeg" %>
    <%= image_tag "cucumber.jpeg" %>
  </div>
  <div class="column">
    <%= image_tag "fish.jpeg" %>
    <%= image_tag "greenOnions.jpeg" %>
    <%= image_tag "onions.jpeg" %>
    <%= image_tag "potatoes.jpeg" %>
    <%= image_tag "produce.jpeg" %>
    <%= image_tag "shopping.jpeg" %>
    <%= image_tag "mario-luigi-yoschi.jpg" %>
  </div>
  <div class="column">
    <%= image_tag "strawberries.jpeg" %>
    <%= image_tag "shopping1.jpeg" %>
    <%= image_tag "tomatoes.jpeg" %>
    <%= image_tag "asparagus.jpeg" %>
    <%= image_tag "customers.jpeg" %>
    <%= image_tag "mix.jpeg" %>
    <%= image_tag "peaches.jpeg" %>
    <%= image_tag "eggs.jpeg" %>
  </div>
  <div class="column">
    <%= image_tag "peppers.jpeg" %>
    <%= image_tag "pineapple.jpeg" %>
    <%= image_tag "radish.jpeg" %>
    <%= image_tag "carrots.jpeg" %>
    <%= image_tag "lemons.jpeg" %>
  </div>
</div>
<hr>
<footer>
  <div class="headerImage">
    <h4>Contact Info: | t: 123.456.7890 | e: marioandluigi@goodfoods.com</h4>
  </div>
</footer>